#a {
    color: white;
    text-shadow: 0 0 0.2em #1C053A, 0 0 0.2em #1C053A, 0 0 0.2em #1C053A;
    font-size: 250%;
}
#b {
    color: white;
    text-shadow: 0 0 0.2em #1C053A, 0 0 0.2em #1C053A, 0 0 0.2em #1C053A;
    font-size: 200%;
}

#nav-item-menu {
	color: #8F78AD;
}

#nav-item-menu:hover {background:#8F78AD; color:#ffffff;} 

#navbar-color {
	background-color: #061539;
}

#hamburguer {
	background-color: #8F78AD;
}

#imgDino {
        border-style:solid;
        border-color:#222;
        background-color: #6daec3;
        width:60%;
        height:60%;
} 

#imgTrofeu {
        border-style:solid;
        border-color:#222;
        background-color: #6daec3;
        width:48%;
        height:45%;
}

#imgPipoca {
        border-style:solid;
        border-color:#222;
        background-color: #6daec3;
        width:55%;
        height:55%;
}

#imgBreve { 
        border-style:solid;
        border-color:#222;
        background-color: #6daec3;
        width:55%;
        height:55%;
}


#cardPreços {
        height:60%;
        width:60%;
}

#social-footer {
	color: #8F78AD;
}
