h5 {
    color: white;
    text-shadow: 0 0 0.2em #1C053A, 0 0 0.2em #1C053A, 0 0 0.2em #1C053A;
    font-size: 200%;
}
p {
    color: white;
    text-shadow: 0 0 0.2em #1C053A, 0 0 0.2em #1C053A, 0 0 0.2em #1C053A;
    font-size: 170%;
}